.DS_Store
.ipynb_checkpoints/
*.pt
*.pth
notebooks/cnn/wandb_logs/
notebooks/cnn/wandb/
01_MPW-CNN/notebooks/wandb/
01_MPW-CNN/notebooks/wandb_logs/


# Python
__pycache__/
*.py[cod]
*.so
.Python
.python-version

# Virtual environments
.venv/
venv/
env/

# Tooling caches
.ruff_cache/
.pytest_cache/
.mypy_cache/

# Jupyter
.jupyter/

# IDEs
.idea/
.vscode/

# Local data and outputs
data/icosimal_img_class_03/
artifacts/
outputs/

