.DS_Store
.ipynb_checkpoints/
/notebooks/cnn/wandb/
/notebooks/gradcam_outputs/
*.pt


# Python
__pycache__/
*.py[cod]
*.so
.Python
.python-version

# Virtual environments
.venv/
venv/
env/

# Tooling caches
.ruff_cache/
.pytest_cache/
.mypy_cache/

# Jupyter
.jupyter/

# IDEs
.idea/
.vscode/

# Local data and outputs
data/icosimal_img_class_03/
artifacts/
outputs/

